.top-container {
  display: flex;
}

.post-list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px 15px 0;
  flex: 2;
}

.text {
  font-size: 17px;
  line-height: 22px;
  cursor: default;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  flex: 1;
  margin: 11px 0;
  border-radius: 5px;
}